<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-container">
        <h1>Welcome to the Recycling Information Portal</h1>
        <button onclick="location.href='add_plants.html'">Add Recycling Plants in Your Surroundings</button>
        <button onclick="location.href='plants.html'">Plants Information in India</button>
    </div>
</body>
</html>
